.episode table, th, td {
  border: none;
}

.information table, th, td {
  border: none;
  border-collapse;
  collapse;
  background-color: #5765BF;
}

td.plain {
  border: none;
  background: rgb(204, 204, 204);
  /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.5);
}

th {
  text-align: left;
}

th.center {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

a:link, a:visited {
  color: #9E90A2;
}

a.navigation:link, a.navigation:visited {
  display: block;
  width: 200px;
  font-weight: bold;
  color: #272932;
  background-color: #5765BF;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

a.navigation:hover, a.navigation:active {
  background-color: #9E90A2;
}

a.navigationa-z:link, a.navigationa-z:visited {
  display: block;
  width: 100px;
  font-weight: bold;
  color: #272932;
  background-color: #5765BF;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

a.navigationa-z:hover, a.navigationa-z:active {
  background-color: #9E90A2;
}

body {
  background-color: #B6C2D9;
  background-image: url("images/hollow3.jpg");
  background-repeat: no-repeat;
  background-position: top right;
}

p {
  color: #272932
}

h1 {
  color: #272932
}

h2 {
  color: #272932
}

h3 {
  color: #272932
}

b {
  color: #272932
}
